/*!
 * Fonts
 */
@font-face {
  font-family: 'Cove';
  src: url(../fonts/CovesTypeface/CovesLight.otf);
  font-weight: light; }
@font-face {
  font-family: 'Cove';
  src: url(../fonts/CovesTypeface/CovesBold.otf);
  font-weight: bold; }
body {
  font-family: "Cove", "Helvetica Neue", "sans-serif"; }

/*!
 * Colors
 */
/*!
 * Text
 */
h1 {
  font-size: 4em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  font-weight: light;
  line-height: 1.1;
  display: block; }

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  color: #262626; }

p {
  font-size: 16px; }

.white {
  color: #FFFFFF; }

.black {
  color: #262626; }

.bluebold {
  color: #337ab7;
  font-weight: bold; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: white; }

.floatright {
  float: right; }

header {
  padding: 200px 0px 200px 0px;
  color: white; }

@media only screen and (max-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 40px; } }
.introCard {
  padding: 150px 50px 150px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.servicesCard {
  padding: 30px 50px 30px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.introCard:hover {
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 50px #fff; }

.servicesCard:hover {
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 50px #fff; }

.servicesImage {
  max-height: 500px; }

#services {
  margin-bottom: 100px; }

#servicesCard {
  margin-top: 140px; }

#resume {
  margin-top: 30px; }

#hitmeupbutton {
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: .6em; }

.center {
  margin: 0 auto; }

/*!
 * Portfolio
 */
#portfoliocontainer {
  padding-top: 50px;
  padding-bottom: 40px; }

.portfolioItem {
  min-height: 300px;
  display: block;
  cursor: pointer;
  background-color: 333333;
  text-align: left;
  opacity: 1;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease; }

.portfolioItem:hover {
  -webkit-filter: none;
  filter: none; }

.portfolioText {
  color: #337ab7; }

.portfoliowords {
  position: absolute;
  display: none;
  -webkit-transition-timing-function: all .4s ease;
  -moz-transition-timing-function: all .4s ease;
  -o-transition-timing-function: all .4s ease;
  -ms-transition-timing-function: all .4s ease;
  transition-timing-function: all .4s ease; }

#VesonItem {
  background-image: url("../img/veson/biggercover.png");
  border: none; }

#EmailItem {
  background-image: url("../img/email/biggercover.png"); }

#ehouseitem {
  background-image: url("../img/ehouse/biggercover.png"); }

#MeHungryItem {
  background-image: url("../img/mehungry/CityInUse.png"); }

#NeuCoolItem {
  background-image: url("../img/principlesproject/biggercover.png"); }

#GamerDuelItem {
  background-image: url("../img/gamerduel/biggercover.png"); }

#FoodlerItem {
  background-image: url("../img/foodler/coverbigger.png"); }

.modalImage {
  margin: 0 auto;
  max-height: 400px !important; }

.modal-content {
  background-color: #333; }

.modal-xl-content {
  background-color: #333;
  opacity: 50%; }

.bottomModal {
  padding: 0px 50px 0px 50px; }

.modal {
  visibility: hidden;
  width: 100%;
  height: 100%; }

/* Small Devices
*/
@media (max-width: 700px) {
  .servicesImage {
    max-height: 80%; } }
/* Larger Modal
*/
@media (max-width: 992px) {
  .xlModalImage {
    min-width: 80%;
    max-width: 325px !important; }

  .servicesImage {
    max-height: 500px;
    margin-top: 50px; }

  .portfolioItem {
    -webkit-filter: none;
    filter: none; }

  .portfoliowords {
    display: inline; }

  .servicesCard {
    text-align: center;
    padding: 20px 0px 20px 0px; } }
.modal-xlg {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  webkit-tap-highlight-color: #000000;
  visibility: visible; }

.xlModalImage {
  max-width: 800px;
  margin: 0 auto; }

.xlModalImageSketches {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto; }

/*!
 * Footer
 */
.bioImage {
  height: 250px;
  width: auto; }

.fa {
  color: #000000; }

.footerstyle {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.fa {
  opacity: .5;
  -webkit-transition: opacity 0.1s;
  /* Safari and Chrome */
  -moz-transition: opacity 0.1s;
  /* Firefox 4 */
  -ms-transition: opacity 0.1s;
  /* MSIE */
  -o-transition: opacity 0.1s;
  /* Opera */
  transition: opacity 0.1s; }

i:hover {
  opacity: 1; }

/*!
 * Other
 */
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #FFFFFF; }

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: "Cove", "Helvetica Neue", "sans-serif"; }

.navbar-custom .navbar-brand {
  font-weight: 800; }

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px; }

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent; }

  .navbar-custom .navbar-brand {
    color: #262626;
    padding: 20px; }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8); }

  .navbar-custom .nav li a {
    color: #262626;
    padding: 20px; }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8); } }
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }

  .navbar-custom.is-fixed .navbar-brand {
    color: #404040; }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1; }

  .navbar-custom.is-fixed .nav li a {
    color: #262626; }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1; }

  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
footer {
  /*background-color: $blackparagraph;*/
  padding: 50px 0 65px;
  text-align: center; }

footer .list-inline {
  margin: 0;
  padding: 0; }

footer .copyright {
  font-color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0; }

.avatar {
  max-width: 100px; }

.btn {
  font: "Cove, Helvetica Neue, Arial";
  padding: 30px 75px 30px 75px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  border: none; }

.btn-small {
  padding: 15px 37px 15px 37px; }

.btn-success {
  color: #fff;
  background-color: #5cb85c; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }

.btn-default:hover,
.btn-default:focus {
  background-color: #000000;
  border: 1px solid #000000;
  color: white; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #000000; }

::selection {
  color: white;
  text-shadow: none;
  background: #000000; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  webkit-tap-highlight-color: #000000; }

/*# sourceMappingURL=timstyle.css.map */

/*# sourceMappingURL=timstyle.css.map */
