/*!
 * Fonts
 */
body {
  font-family: 'Josefin Sans', sans-serif; }

/*!
 * Colors
 */
/*!
 * Text
 */
h1 {
  font-size: 8em;
  font-weight: 700;
  letter-spacing: -2px;
  color: #262626;
  text-transform: uppercase; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 3em; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 4em; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6em; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 8em; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 8em; } }
h2 {
  font-size: 1.5em;
  font-weight: light;
  line-height: 1.1;
  display: block; }

h3 {
  color: #7f8c8d;
  font-size: 2em; }

h4 {
  color: #337ab7;
  font-size: 2em; }

.bold {
  font-weight: 700; }

#logo {
  margin-top: -10px;
  width: 40px; }

p {
  font-size: 16px; }

.white {
  color: #FFFFFF; }

.black {
  color: #262626; }

.bluebold {
  color: #337ab7;
  font-weight: bold; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

header {
  padding: 200px 0px 100px 0px;
  color: white; }

.portfolio-header {
  padding: 100px 0px 50px 0px; }

@media only screen and (max-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 40px; } }
.intro {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.introCard {
  padding: 150px 50px 150px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.servicesCard {
  padding: 30px 50px 30px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.introCard:hover {
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 50px #fff; }

.servicesCard:hover {
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 50px #fff; }

.center {
  margin: 0 auto; }

/*!
 * Portfolio
 */
#portfoliocontainer {
  padding-top: 50px;
  padding-bottom: 40px; }

.portfolioItem {
  min-height: 300px !important;
  display: block;
  cursor: pointer;
  background-color: 333333;
  text-align: left;
  border: 10px solid white;
  opacity: 1;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease; }

.portfolioItem:hover {
  -webkit-filter: none;
  filter: none; }

.portfoliowords {
  background-color: white;
  position: absolute;
  display: none;
  padding: 1px 40px 10px 40px;
  margin-top: 15px;
  -webkit-transition-timing-function: all .4s ease;
  -moz-transition-timing-function: all .4s ease;
  -o-transition-timing-function: all .4s ease;
  -ms-transition-timing-function: all .4s ease;
  transition-timing-function: all .4s ease; }

#VesonItem {
  background-image: url("../img/veson/biggercover.png"); }

#ehouseitem {
  background-image: url("../img/ehouse/biggercover.png"); }

#MeHungryItem {
  background-image: url("../img/mehungry/CityInUse.png"); }

#NeuCoolItem {
  background-image: url("../img/principlesproject/biggercover.png"); }

#GamerDuelItem {
  background-image: url("../img/gamerduel/biggercover.png"); }

#FoodlerItem {
  background-image: url("../img/foodler/coverbigger.png"); }

.portfolioPageImage {
  max-height: 400px !important; }

/* Larger Modal
*/
@media (max-width: 992px) {
  .portfolioItem {
    -webkit-filter: none;
    filter: none; } }
/*!
 * Footer
 */
.bioImage {
  height: 250px;
  width: auto; }

.fa {
  color: #000000; }

.footerstyle {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.fa {
  opacity: .5;
  -webkit-transition: opacity 0.1s;
  /* Safari and Chrome */
  -moz-transition: opacity 0.1s;
  /* Firefox 4 */
  -ms-transition: opacity 0.1s;
  /* MSIE */
  -o-transition: opacity 0.1s;
  /* Opera */
  transition: opacity 0.1s; }

i:hover {
  opacity: 1; }

/*!
 * Other
 */
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #FFFFFF; }

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: "Cove", "Helvetica Neue", "sans-serif"; }

.navbar-custom .navbar-brand {
  font-weight: 400; }

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: 1px; }

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent; }

  .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: .8em;
    color: #262626;
    padding: 20px; }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.8); }

  .navbar-custom .nav li a {
    color: #262626;
    padding: 20px; }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(0, 0, 0, 0.3); } }
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }

  .navbar-custom.is-fixed .navbar-brand {
    color: #404040; }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1; }

  .navbar-custom.is-fixed .nav li a {
    color: #262626; }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1; }

  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
footer {
  /*background-color: $blackparagraph;*/
  padding: 50px 0 65px;
  text-align: center; }

footer .list-inline {
  margin: 0;
  padding: 0; }

footer .copyright {
  font-color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #000000; }

::selection {
  color: white;
  text-shadow: none;
  background: #000000; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  /*
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
  background-color: white;
  webkit-tap-highlight-color: #000000; }

/*# sourceMappingURL=timstyle.css.map */

/*# sourceMappingURL=timstyle.css.map */
